# All folders should be ignored, except explicitly mentioned in this file

/**



# All files and folders mentioned here will not be ignored. Use "!" to mark them
!/.config/*
!/.bash_profile/
!/.zshrc/
!/.pki/
!/gnupg/
!/.ssh/
!/.viminfo/
!/.gitignore/
